<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/customer/layout/index :: dynamic(~{::title}, ~{::main})}">
<head>
    <title>TUTA - Cart</title>
</head>
<body>
<main class="site-main">
    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sản Phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Tổng Tiền</th>
                            <th scope="col">Xoá Sản Phẩm</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in cart.items">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img style="width: 150px;" src="/customer/img/product/{{item.primaryImage}}"
                                             alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{item.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}}</h5>
                            </td>
                            <td>
                                <input ng-model="item.quantity" ng-change="cart.checkQuantity(item)" type="number"
                                       class="form-control w-50 text-center" min="0" placeholder="">
                            </td>
                            <td>
                                <h5>{{(item.price*item.quantity).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}}</h5>
                            </td>
                            <td>
                                <span ng-click="cart.remove(item.id)" class="material-symbols-outlined btn" style="font-size: 40px">delete</span>
                            </td>
                        </tr>
                        <tr class="bottom_button">
                            <td>
                                <a class="button btn" ng-click="cart.removeCart()">Xóa toàn bộ giỏ hàng</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Tổng tiền giỏ hàng</h5>
                            </td>
                            <td>
                                <h5>{{ cart.totalCart.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) }}</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td class="d-none-l">

                            </td>
                            <td class="">

                            </td>

                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" th:href="@{/shop}">Tiếp tục mua sắm</a>
                                    <a class="primary-btn ml-2" th:href="@{/checkout}">Thanh toán</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
</main>
</body>
</html>
