<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/customer/layout/index :: dynamic(~{::title}, ~{::main})}">

<head>
    <title>TUTA - Checkout</title>
</head>

<body>
<main class="site-main">
    <!--================Checkout Area =================-->
    <section class="checkout_area section-margin--small">
        <div class="container">
            <div class="returning_customer">
            </div>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>Thông tin người nhận</h3>
                        <form class="row contact_form" action="#" method="post">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" ng-model="order.firstname" th:value="${account.firstname}"
                                       placeholder="Họ">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" ng-model="order.lastname" th:value="${account.lastname}"
                                       placeholder="Tên">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" ng-model="order.phone"
                                       th:value="${account.phone}" placeholder="Số điện thoại">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="email" class="form-control" ng-model="order.email"
                                       th:value="${account.email}" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" ng-model="order.province" th:value="${account.province}" name="province"
                                       placeholder="Tỉnh/Thành Phố">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" ng-model="order.district" th:value="${account.district}" name="district"
                                       placeholder="Huyện/Quận">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" ng-model="order.ward" th:value="${account.ward}" name="ward"
                                       placeholder="Xã/Phường">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" ng-model="order.specificAddress" th:value="${account.specificAddress}"
                                       name="specificAddress"
                                       placeholder="Số Nhà/Địa Chỉ Cụ Thể">
                            </div>
                            <div class="col-md-12 form-group mb-0">
                                <div class="creat_account">
                                    <h3>Thông tin giao hàng</h3>
                                    <input type="checkbox" id="f-option3" name="selector" onclick="toggleContent()">
                                    <label for="f-option3">Gửi đến địa chỉ khác ?</label>
                                </div>
                                <div id="alternateContent" style="display: none;">
                                    <div class="row">
                                        <div class="col-md-12 form-group p_star">
                                            <select class="country_select">
                                                <option value="1">Tỉnh/Thành Phố</option>
                                                <option value="2">Bình Định</option>
                                                <option value="4">Hồ Chí Minh</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <select class="country_select">
                                                <option value="1">Quận/Huyện</option>
                                                <option value="2">Hoài Nhơn</option>
                                                <option value="4">Quận Bình Tân</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <select class="country_select">
                                                <option value="1">Xã/Phường</option>
                                                <option value="2">Hoài Mỹ</option>
                                                <option value="4">Bình Hưng Hòa B</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="Số Nhà/Địa Chỉ Cụ Thể">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="order_box">
                            <h2>Đơn hàng của bạn</h2>
                            <ul class="list" ng-repeat="item in cart.items">
                                <li><a href="#">
                                    <h4>Sản Phẩm <span>Tổng Tiền</span></h4>
                                </a></li>
                                <li><a href="#">{{item.name}}<span class="middle">x {{item.quantity}}</span> <span
                                        class="last">{{(item.price*item.quantity).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}}</span></a>
                                </li>

                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Tổng <span>{{ cart.totalCart.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) }}</span></a>
                                </li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="paymentMethod1" ng-click="order.updatePaymentMethod('cash')" name="paymentMethod">
                                    <label for="paymentMethod1">Thanh toán khi nhận hàng</label>
                                    <div class="check"></div>
                                </div>
                                <p>Vui lòng thanh toán tiền khi có cuộc gọi từ người vận chuyển để nhận hàng. Mọi thắc
                                    nắt vui lòng liên
                                    hệ với Cửa Hàng.</p>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="paymentMethod2" ng-click="order.updatePaymentMethod('paypal')" name="paymentMethod">
                                    <label for="paymentMethod2">Paypal </label>
                                    <img src="" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Thanh toán qua PayPal; bạn có thể thanh toán bằng thẻ tín dụng nếu bạn không có tài
                                    khoản PayPal.</p>
                            </div>
                            <div class="text-center">
                                <button ng-click="order.submitOrder()" class="button button-paypal">Đặt Hàng</button>
                                <!--<a ng-click="oder.submitOder()" class="button button-paypal"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->
</main>
</body>
</html>