<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/customer/layout/index :: dynamic(~{::title}, ~{::main})}">

<head>
    <title>TUTA - Confirmation</title>
</head>

<body>
<main class="site-main">
<!--================Order Details Area =================-->
<section class="order_details section-margin--small">
    <div class="container">
        <p class="text-center billing-alert">Cảm ơn bạn. Đơn hàng của bạn đã được ghi nhận và xử lý...</p>
        <div class="row mb-5">
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Thông tin đơn hàng</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Mã đơn hàng</td>
                            <td>: 60235</td>
                        </tr>
                        <tr>
                            <td>Ngày</td>
                            <td>: Oct 03, 2017</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền</td>
                            <td>: USD 2210</td>
                        </tr>
                        <tr>
                            <td>Phương thức thanh toán</td>
                            <td>: Thanh toán khi nhận hàng</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Thông tin người nhận</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Họ và tên</td>
                            <td>: Trần Văn Nhân</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>: tranvannhan@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>: 0376758600</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Địa chỉ giao hàng</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Tỉnh/Thành phố</td>
                            <td>: Bình Định</td>
                        </tr>
                        <tr>
                            <td>Huyện/Quận</td>
                            <td>: Hoài Nhơn</td>
                        </tr>
                        <tr>
                            <td>Xã/Phường</td>
                            <td>: Hoài Mỹ</td>
                        </tr>
                        <tr>
                            <td>Số nhà/Địa chỉ cụ thể</td>
                            <td>: Võ Nguyên Giáp</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Chi tiết đơn hàng</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tổng tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p>Máy ảnh Fujifilm X-S20</p>
                        </td>
                        <td>
                            <h5>x 02</h5>
                        </td>
                        <td>
                            <p>$720.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Máy ảnh Canon EOS R6</p>
                        </td>
                        <td>
                            <h5>x 02</h5>
                        </td>
                        <td>
                            <p>$720.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Máy ảnh Sony Alpha A7S III</p>
                        </td>
                        <td>
                            <h5>x 02</h5>
                        </td>
                        <td>
                            <p>$720.00</p>
                        </td>
                    </tr>
                    <!-- <tr>
                      <td>
                        <h4>TẠM TÍNH</h4>
                      </td>
                      <td>
                        <h5></h5>
                      </td>
                      <td>
                        <p>$2160.00</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h4>PHÍ VẬN CHUYỂN</h4>
                      </td>
                      <td>
                        <h5></h5>
                      </td>
                      <td>
                        <p>Giao hàng thông thường: $50.00</p>
                      </td>
                    </tr> -->
                    <tr>
                        <td>
                            <h4>Tổng</h4>
                        </td>
                        <td>
                            <h5></h5>
                        </td>
                        <td>
                            <h4>$2210.00</h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->
</main>
</body>

</html>