<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/customer/layout/index :: dynamic(~{::title}, ~{::main})}">

<head>
    <title>TUTA - Product Details</title>
</head>

<body>
<main class="site-main">
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" th:src="@{|/customer/img/product/${item.primaryImage}|}" th:alt="${item.primaryImage}">
                        </div>
                        <!-- <div class="single-prd-item">
                            <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3 th:text="${item.name}"></h3>
                        <h2 th:text="${item.price}"></h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Danh mục</span> : <span th:text="${item.category.name}"></span></a></li>
                            <li><span>Tình trạng</span> : <span th:if="${item.quantity > 0}">Còn Hàng</span><span th:if="${item.quantity == 0}">Hết Hàng</span></li>
                        </ul>
                        <p th:text="${item.introduce}"></p>
                        <div class="product_count">
                            <label>Số lượng:</label>
                            <div class="input-group mb-3" style="max-width: 120px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                </div>
                                <input type="text" class="form-control text-center" value="1" placeholder=""
                                       aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                </div>
                            </div>
                            <a class="button primary-btn" href="#">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                       aria-selected="true">Mô tả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Thông số kỹ thuật</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p th:text="${item.description1}"></p>
                    <p th:text="${item.description2}"></p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody style="text-align: center;">
                            <tr>
                                <td>
                                    <h5>Chiều Rộng</h5>
                                </td>
                                <td>
                                    <h5 th:text="${item.width}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Chiều Cao</h5>
                                </td>
                                <td>
                                    <h5 th:text="${item.height}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Chiều Sâu</h5>
                                </td>
                                <td>
                                    <h5 th:text="${item.depth}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Cân Nặng</h5>
                                </td>
                                <td>
                                    <h5 th:text="${item.weight}"></h5>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->

    <!--================ Start related Product area =================-->
    <section class="related-product-area">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Sản phẩm phổ biến trên thị trường</p>
                <h2><span class="section-intro__style">Sản phẩm</span> nổi bật</h2>
            </div>
            <div class="row mt-30">
                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            <a href="product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
                            <div class="desc">
                                <a href="product.html" class="title">Máy ảnh Canon EOS R6</a>
                                <div class="price">$2400</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
                            <div class="desc">
                                <a href="product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
                                <div class="price">$3000</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            <a href="product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
                            <div class="desc">
                                <a href="product.html" class="title">Máy ảnh Canon EOS R6</a>
                                <div class="price">$2400</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
                            <div class="desc">
                                <a href="product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
                                <div class="price">$3000</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            <a href="product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
                            <div class="desc">
                                <a href="product.html" class="title">Máy ảnh Canon EOS R6</a>
                                <div class="price">$2400</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
                            <div class="desc">
                                <a href="product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
                                <div class="price">$3000</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            <a href="product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
                            <div class="desc">
                                <a href="product.html" class="title">Máy ảnh Canon EOS R6</a>
                                <div class="price">$2400</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
                            <div class="desc">
                                <a href="product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
                                <div class="price">$3000</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ end related Product area =================-->
</main>
</body>

</html>