<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/customer/layout/index :: dynamic(~{::title}, ~{::main})}">

<head>
    <title>TUTA - Profile</title>
</head>

<body>
<main class="site-main">
    <!--================Profile Area =================-->
    <section class="checkout_area section-margin--small">
        <div class="container">
            <div class="returning_customer">
                <button type="submit" value="submit" class="button"
                        style="background-color: rgb(255, 76, 76); border: none; margin-bottom: 20px;">Đăng Xuất
                </button>
                <div class="billing_details">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Thông tin tài khoản</h3>
                            <form class="row contact_form" action="#" method="post">
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="first" name="name" placeholder="Họ">
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="last" name="name" placeholder="Tên">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="number" name="number"
                                           placeholder="Số điện thoại">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="email" name="compemailany"
                                           placeholder="Email">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <select class="country_select">
                                        <option value="1">Tỉnh/Thành Phố</option>
                                        <option value="2">Bình Định</option>
                                        <option value="4">Hồ Chí Minh</option>
                                    </select>
                                </div>
                                <!-- <div class="col-md-12 form-group p_star">
                                  <input type="text" class="form-control" id="add1" name="add1">
                                  <span class="placeholder" data-placeholder="Address line 01"></span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                  <input type="text" class="form-control" id="add2" name="add2">
                                  <span class="placeholder" data-placeholder="Address line 02"></span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                  <input type="text" class="form-control" id="city" name="city">
                                  <span class="placeholder" data-placeholder="Town/City"></span>
                                </div> -->
                                <div class="col-md-12 form-group p_star">
                                    <select class="country_select">
                                        <option value="1">Quận/Huyện</option>
                                        <option value="2">Hoài Nhơn</option>
                                        <option value="4">Quận Bình Tân</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <select class="country_select">
                                        <option value="1">Xã/Phường</option>
                                        <option value="2">Hoài Mỹ</option>
                                        <option value="4">Bình Hưng Hòa B</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" name="name"
                                           placeholder="Số Nhà/Địa Chỉ Cụ Thể">
                                </div>
                                <div class="col-md-12 form-group">
                                    <button class="btn button" style="width: 100%;">Sửa Thông Tin</button>
                                </div>
                            </form>
                            <div
                                    style="background-color: rgb(29, 87, 106); width: 100%; height: 3px; border-radius: 10px;">
                            </div>
                            <h3 class="mt-3">Đổi Mật Khẩu</h3>
                            <form class="row contact_form" action="#" method="post">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control"  name="name"
                                           placeholder="Mật khẩu cũ">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" name="name"
                                           placeholder="Mật khẩu mới">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" name="name"
                                           placeholder="Mật khẩu xác nhận mật khẩu mới">
                                </div>
                                <div class="col-md-12 form-group">
                                    <button class="btn button" style="width: 100%;">Đổi Mật Khẩu</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="w-100">
                                <h3 class="w-100">Thông tin đơn hàng</h3>
                                <table class="w-100 text-center table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Mã đơn hàng</th>
                                        <th>Ngày</th>
                                        <th>Tổng tiền</th>
                                        <th>Phương thức thanh toán</th>
                                        <th>Xem thông tin</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>60235</td>
                                        <td>Oct 03, 2017</td>
                                        <td>USD 2210</td>
                                        <td>Thanh toán khi nhận hàng</td>
                                        <td>
                                            <button class="btn btn-primary" style=" border-radius: 20px;">Xem Chi
                                                Tiết
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>60235</td>
                                        <td>Oct 03, 2017</td>
                                        <td>USD 2210</td>
                                        <td>Thanh toán khi nhận hàng</td>
                                        <td>
                                            <button class="btn btn-primary" style=" border-radius: 20px;">Xem Chi
                                                Tiết
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Profile Area =================-->
</main>
</body>

</html>