<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TUTA - Shop</title>
  <link rel="icon" href="../img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="../vendors/linericon/style.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="../vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="../index.html"><img src="../img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="shop.html">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav-shop">
                        <li class="nav-item"><button><i class="ti-user"></i></button></li>
                        <li class="nav-item"><a href="cart.html"><button><i class="ti-shopping-cart"></i><span
                                        class="nav-shop__circle">3</span></button> </a></li>
                        <li class="nav-item"><a class="button button-header" href="shop.html">Mua Ngay</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
  <!--================ End Header Menu Area =================-->

  <!-- ================ category section start ================= -->
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Danh mục máy ảnh</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="men" name="brand"><label
                        for="men">DSLR<span> (300)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="women" name="brand"><label
                        for="women">Mirrorless<span> (200)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="accessories" name="brand"><label
                        for="accessories">Compact<span> (100)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="footwear" name="brand"><label
                        for="footwear">Instax<span> (300)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="bayItem" name="brand"><label
                        for="bayItem">Medium Format<span> (500)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="electronics" name="brand"><label
                        for="electronics">Film<span> (400)</span></label></li>
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          <div class="sidebar-filter">
            <div class="top-filter-head">Bộ lọc sản phẩm</div>
            <div class="common-filter">
              <div class="head">Thương hiệu</div>
              <form action="#">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio"
                      name="brand"><label>Canon<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio"
                      name="brand"><label>Sony<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio"
                      name="brand"><label>Fujifilm<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio"
                      name="brand"><label>Nikon<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio"
                      name="brand"><label>Leica<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio"
                      name="brand"><label>Panasonic<span>(19)</span></label></li>
                </ul>
              </form>
            </div>
            <!-- <div class="common-filter">
              <div class="head">Giá</div>
              <div class="price-range-area">
                <div id="price-range"></div>
                <div class="value-wrapper d-flex">
                  <div class="price">Giá:</div>
                  <div id="lower-value"></div>
                  <span>đ</span>
                  <div class="to">đến</div>
                  <div id="upper-value"></div>
                  <span>đ</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select>
                <option selected value="1">Sắp xếp</option>
                <option value="1">Giá tăng dần</option>
                <option value="1">Giá giảm dần</option>
              </select>
            </div>
            <div class="sorting mr-auto">
              <select>
                <option selected value="1">Số sản phẩm hiển thị</option>
                <option value="1">12 sản phẩm</option>
                <option value="1">18 sản phẩm</option>
                <option value="1">24 sản phẩm</option>
              </select>
            </div>
            <div>
              <div class="input-group filter-bar-search">
                <input type="text" placeholder="Tìm kiếm">
                <div class="input-group-append">
                  <button type="button"><i class="ti-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/fujifilm-x-s20.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Mirrorless</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Fujifilm X-S20</a></h4>
                    <p class="card-product__price">$1500.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/sony-a7s-mark-iii.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Compact</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Sony Alpha A7S III</a></h4>
                    <p class="card-product__price">$3000.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/canon-eos-r6.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>DSLR</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Canon EOS R6</a></h4>
                    <p class="card-product__price">$2400.00</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/fujifilm-x-s20.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Mirrorless</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Fujifilm X-S20</a></h4>
                    <p class="card-product__price">$1500.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/sony-a7s-mark-iii.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Compact</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Sony Alpha A7S III</a></h4>
                    <p class="card-product__price">$3000.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/canon-eos-r6.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>DSLR</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Canon EOS R6</a></h4>
                    <p class="card-product__price">$2400.00</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/fujifilm-x-s20.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Mirrorless</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Fujifilm X-S20</a></h4>
                    <p class="card-product__price">$1500.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/sony-a7s-mark-iii.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Compact</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Sony Alpha A7S III</a></h4>
                    <p class="card-product__price">$3000.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="../img/product/canon-eos-r6.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-info-alt"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>DSLR</p>
                    <h4 class="card-product__title"><a href="single-product.html">Máy ảnh Canon EOS R6</a></h4>
                    <p class="card-product__price">$2400.00</p>
                  </div>
                </div>
              </div>

            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
  <!-- ================ category section end ================= -->

  <!-- ================ top product area start ================= -->
  <section class="related-product-area">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>Sản phẩm phổ biến trên thị trường</p>
        <h2><span class="section-intro__style">Sản phẩm</span> nổi bật</h2>
      </div>
      <div class="row mt-30">
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Canon EOS R6</a>
                <div class="price">$2400</div>
              </div>
            </div>
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
                <div class="price">$3000</div>
              </div>
            </div>
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/fujifilm-x-s20.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Fujifilm X-S20</a>
                <div class="price">$1500</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Canon EOS R6</a>
                <div class="price">$2400</div>
              </div>
            </div>
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
                <div class="price">$3000</div>
              </div>
            </div>
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/fujifilm-x-s20.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Fujifilm X-S20</a>
                <div class="price">$1500</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Canon EOS R6</a>
                <div class="price">$2400</div>
              </div>
            </div>
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
                <div class="price">$3000</div>
              </div>
            </div>
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/fujifilm-x-s20.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Fujifilm X-S20</a>
                <div class="price">$1500</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Canon EOS R6</a>
                <div class="price">$2400</div>
              </div>
            </div>
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
                <div class="price">$3000</div>
              </div>
            </div>
            <div class="single-search-product d-flex">
              <a href="single-product.html"><img src="../img/product/fujifilm-x-s20.jpg" alt=""></a>
              <div class="desc">
                <a href="single-product.html" class="title">Máy ảnh Fujifilm X-S20</a>
                <div class="price">$1500</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ top product area end ================= -->

  <!--================ Start footer Area  =================-->
  <footer>
    <div class="footer-area footer-only">
      <div class="container">
        <div class="row section_gap">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h2 class="footer_title" style="font-size: 25px;">Sứ mệnh của chúng tôi</h2>
              <p>
                Sứ mệnh của chúng tôi là mang đến những sản phẩm và dịch vụ mang lại lợi ích cho khách hàng.
              </p>
              <p>
                Chúng tôi hướng đến việc xây dựng một môi trường sống và làm việc tốt hơn, mang lại giá trị và cơ hội
                phát triển cho cả cộng đồng và khách hàng của chúng tôi.
              </p>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-4 col-md-12 col-sm-12">
            <div class="single-footer-widget tp_widgets" style="text-align: center;">
              <h4 class="footer_title">Liên kết nhanh</h4>
              <ul class="list">
                <li><a href="../index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="forgotpassword.html">Forgot Password</a></li>
              </ul>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Liên Hệ Với Chúng Tôi</h4>
              <div class="ml-40">
                <p class="sm-head">
                  <span class="fa fa-location-arrow"></span>
                  Trụ sở chính
                </p>
                <p>Võ Nguyên Giáp, Hoài Nhơn, Bình Định</p>

                <p class="sm-head">
                  <span class="fa fa-phone"></span>
                  Điện Thoại
                </p>
                <p>
                  037 6758 600
                </p>

                <p class="sm-head">
                  <span class="fa fa-envelope"></span>
                  Email
                </p>
                <p>
                  ads.tranvannhan@gmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex">
          <p class="col-lg-12 footer-text text-center">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with
            <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/tranvannhan.77c1"
              target="_blank">Trần Văn Nhân</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->

  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../vendors/skrollr.min.js"></script>
  <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="../vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="../vendors/nouislider/nouislider.min.js"></script>
  <script src="../vendors/jquery.ajaxchimp.min.js"></script>
  <script src="../vendors/mail-script.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>