<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>TUTA - Product Details</title>
	<link rel="icon" href="../img/Fevicon.png" type="image/png">
	<link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="../vendors/linericon/style.css">
	<link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
	<link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
	<link rel="stylesheet" href="../css/jquery-ui.css">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="../index.html"><img src="../img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="shop.html">Shop</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                        <ul class="nav-shop">
                            <li class="nav-item"><button><i class="ti-user"></i></button></li>
                            <li class="nav-item"><a href="cart.html"><button><i class="ti-shopping-cart"></i><span
                                            class="nav-shop__circle">3</span></button> </a></li>
                            <li class="nav-item"><a class="button button-header" href="shop.html">Mua Ngay</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
	<!--================ End Header Menu Area =================-->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="../img/product/fujifilm-x-s20.jpg" alt="">
						</div>
						<!-- <div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div> -->
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>Máy ảnh Fujifilm X-S20</h3>
						<h2>$149.99</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Danh mục</span> : Mirrorless</a></li>
							<li><a href="#"><span>Tình trạng</span> : Còn Hàng</a></li>
						</ul>
						<p>Máy ảnh mirrorless Fujifilm X-S20 sở hữu thiết kế gọn nhẹ, trang bị cảm biến 26.1MP X-Trans
							CMOS 4 kết hợp bộ xử lý hình ảnh X-Processor 5, chống rung IBIS 7 stop, lấy nét tự động bằng
							AI vượt trội, mang lại những thước phim chất lượng 6.2K30fps ấn tượng, một chiếc camera đa
							năng phù hợp cho cả những nhiếp ảnh gia và những nhà sáng tạo nội dung.</p>
						<div class="product_count">
							<label for="qty">Số lượng:</label>
							<div class="input-group mb-3" style="max-width: 120px;">
								<div class="input-group-prepend">
									<button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
								</div>
								<input type="text" class="form-control text-center" value="1" placeholder=""
									aria-label="Example text with button addon" aria-describedby="button-addon1">
								<div class="input-group-append">
									<button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
								</div>
							</div>
							<a class="button primary-btn" href="#">Thêm vào giỏ hàng</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
						aria-selected="true">Mô tả</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="false">Thông số kỹ thuật</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>Thiết kế Fujifilm X-S20 gọn nhẹ: 
						Fujifilm X-S20 sở hữu thiết kế đặc trưng của dòng XS với báng cầm lớn mang lại cảm giác cầm nắm dễ dàng. Trọng lượng máy ảnh chỉ 491, người dùng dễ dàng bỏ chiếc camera vào balo và mang theo trong những chuyến đi của mình.</p>
					<p>Cảm biến 26.1MP APS-C X-Trans BSI CMOS 4: 
						Máy ảnh Fujifilm X-S20 sử dụng cảm biến X-Trans CMOS 4 có thiết kế đèn chiếu sáng sau. Với độ phân giải 26.1 MP, chiếc XS20 này có thể ghi lại những hình ảnh đáng nhớ trong chuyến phiêu lưu, cũng như những khoảnh khắc hàng ngày của bạn một cách sắc nét, sống động thông qua một loạt các bộ lọc độc đáo.</p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody style="text-align: center;">
								<tr>
									<td>
										<h5>Chiều Rộng</h5>
									</td>
									<td>
										<h5>127.7mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Chiều Cao</h5>
									</td>
									<td>
										<h5>85.1mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Chiều Sâu</h5>
									</td>
									<td>
										<h5>65.4mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Cân Nặng</h5>
									</td>
									<td>
										<h5>
											491g (bao gồm pin và thẻ nhớ) - 410g (Thân máy)</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

	<!--================ Start related Product area =================-->
	<section class="related-product-area">
		<div class="container">
		  <div class="section-intro pb-60px">
			<p>Sản phẩm phổ biến trên thị trường</p>
			<h2><span class="section-intro__style">Sản phẩm</span> nổi bật</h2>
		  </div>
		  <div class="row mt-30">
			<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
			  <div class="single-search-product-wrapper">
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Canon EOS R6</a>
					<div class="price">$2400</div>
				  </div>
				</div>
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
					<div class="price">$3000</div>
				  </div>
				</div>
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/fujifilm-x-s20.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Fujifilm X-S20</a>
					<div class="price">$1500</div>
				  </div>
				</div>
			  </div>
			</div>
	
			<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
			  <div class="single-search-product-wrapper">
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Canon EOS R6</a>
					<div class="price">$2400</div>
				  </div>
				</div>
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
					<div class="price">$3000</div>
				  </div>
				</div>
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/fujifilm-x-s20.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Fujifilm X-S20</a>
					<div class="price">$1500</div>
				  </div>
				</div>
			  </div>
			</div>
	
			<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
			  <div class="single-search-product-wrapper">
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Canon EOS R6</a>
					<div class="price">$2400</div>
				  </div>
				</div>
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
					<div class="price">$3000</div>
				  </div>
				</div>
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/fujifilm-x-s20.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Fujifilm X-S20</a>
					<div class="price">$1500</div>
				  </div>
				</div>
			  </div>
			</div>
	
			<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
			  <div class="single-search-product-wrapper">
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/canon-eos-r6.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Canon EOS R6</a>
					<div class="price">$2400</div>
				  </div>
				</div>
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/sony-a7s-mark-iii.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Sony Alpha A7S III</a>
					<div class="price">$3000</div>
				  </div>
				</div>
				<div class="single-search-product d-flex">
				  <a href="single-product.html"><img src="../img/product/fujifilm-x-s20.jpg" alt=""></a>
				  <div class="desc">
					<a href="single-product.html" class="title">Máy ảnh Fujifilm X-S20</a>
					<div class="price">$1500</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	<!--================ end related Product area =================-->

	<!--================ Start footer Area  =================-->
	<footer>
		<div class="footer-area footer-only">
		  <div class="container">
			<div class="row section_gap">
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-footer-widget tp_widgets">
				  <h2 class="footer_title" style="font-size: 25px;">Sứ mệnh của chúng tôi</h2>
				  <p>
					Sứ mệnh của chúng tôi là mang đến những sản phẩm và dịch vụ mang lại lợi ích cho khách hàng.
				  </p>
				  <p>
					Chúng tôi hướng đến việc xây dựng một môi trường sống và làm việc tốt hơn, mang lại giá trị và cơ hội
					phát triển cho cả cộng đồng và khách hàng của chúng tôi.
				  </p>
				</div>
			  </div>
			  <div class="offset-lg-1 col-lg-4 col-md-12 col-sm-12">
				<div class="single-footer-widget tp_widgets" style="text-align: center;">
				  <h4 class="footer_title">Liên kết nhanh</h4>
				  <ul class="list">
					<li><a href="#">Home</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Product</a></li>
					<li><a href="#">Brand</a></li>
					<li><a href="#">Contact</a></li>
				  </ul>
				</div>
			  </div>
			  <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
				<div class="single-footer-widget tp_widgets">
				  <h4 class="footer_title">Liên Hệ Với Chúng Tôi</h4>
				  <div class="ml-40">
					<p class="sm-head">
					  <span class="fa fa-location-arrow"></span>
					  Trụ sở chính
					</p>
					<p>Võ Nguyên Giáp, Hoài Nhơn, Bình Định</p>
	
					<p class="sm-head">
					  <span class="fa fa-phone"></span>
					  Điện Thoại
					</p>
					<p>
					  037 6758 600
					</p>
	
					<p class="sm-head">
					  <span class="fa fa-envelope"></span>
					  Email
					</p>
					<p>
					  ads.tranvannhan@gmail.com
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	
		<div class="footer-bottom">
		  <div class="container">
			<div class="row d-flex">
			  <p class="col-lg-12 footer-text text-center">
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with
				<i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/tranvannhan.77c1"
				  target="_blank">Trần Văn Nhân</a>
			  </p>
			</div>
		  </div>
		</div>
	  </footer>
	<!--================ End footer Area  =================-->



	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="../vendors/skrollr.min.js"></script>
	<script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="../vendors/nice-select/jquery.nice-select.min.js"></script>
	<script src="../vendors/jquery.ajaxchimp.min.js"></script>
	<script src="../vendors/mail-script.js"></script>
	<script src="../js/jquery-ui.js"></script>
	<script src="../js/main.js"></script>
</body>

</html>