<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/customer/layout/index :: dynamic(~{::title}, ~{::main})}">
<head>
    <title>TUTA - Home</title>
</head>
<body>
<main class="site-main">
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="/customer/img/home/hero-banner.png" alt="">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">
                        <h4>Mua sắm thật vui</h4>
                        <h1>TÌM HIỂU CÁC SẢN PHẨM CAO CẤP CỦA CHÚNG TÔI</h1>
                        <p>Chào mừng bạn đến với trang web mua sắm máy ảnh chất lượng cao của chúng tôi! Khám phá thế
                            giới của
                            công nghệ hình ảnh tiên tiến và sản phẩm đa dạng, giúp bạn thực hiện những bức ảnh tuyệt
                            vời. Hãy đồng
                            hành cùng chúng tôi để tìm hiểu về những sản phẩm cao cấp và chất lượng mà chúng tôi cung
                            cấp, mang đến
                            cho bạn trải nghiệm mua sắm thú vị và đầy hứng khởi!</p>
                        <a class="button button-hero" href="#">Xem Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Hero banner start =================-->

    <!-- ================ Best Selling item  carousel ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Sản phẩm phổ biến trên thị trường</p>
                <h2><span class="section-intro__style">Sản phẩm</span> bán chạy nhất</h2>
            </div>
            <div class="owl-carousel owl-theme" id="bestSellerCarousel">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="/customer/img/product/fujifilm-x-s20.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <button><i class="ti-info-alt"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Mirrorless</p>
                        <h4 class="card-product__title"><a href="page/single-product.html">Máy ảnh Fujifilm X-S20 1</a></h4>
                        <p class="card-product__price">$1500</p>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="/customer/img/product/canon-eos-r6.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <button><i class="ti-info-alt"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Mirrorless</p>
                        <h4 class="card-product__title"><a href="page/single-product.html">Máy ảnh Canon EOS R6 2</a></h4>
                        <p class="card-product__price">$3000</p>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="/customer/img/product/sony-a7s-mark-iii.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <button><i class="ti-info-alt"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Mirrorless</p>
                        <h4 class="card-product__title"><a href="page/single-product.html">Máy ảnh Sony Alpha A7S III 3</a>
                        </h4>
                        <p class="card-product__price">$3000</p>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="/customer/img/product/fujifilm-x-s20.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <button><i class="ti-info-alt"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Mirrorless</p>
                        <h4 class="card-product__title"><a href="page/single-product.html">Máy ảnh Fujifilm X-S20 4</a></h4>
                        <p class="card-product__price">$1500</p>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="/customer/img/product/canon-eos-r6.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <button><i class="ti-info-alt"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Mirrorless</p>
                        <h4 class="card-product__title"><a href="page/single-product.html">Máy ảnh Canon EOS R6 5</a></h4>
                        <p class="card-product__price">$3000</p>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="/customer/img/product/sony-a7s-mark-iii.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <button><i class="ti-info-alt"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Mirrorless</p>
                        <h4 class="card-product__title"><a href="page/single-product.html">Máy ảnh Sony Alpha A7S III 6</a>
                        </h4>
                        <p class="card-product__price">$3000</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Best Selling item  carousel end ================= -->

    <!-- ================ Subscribe section start ================= -->
    <section class="subscribe-position">
        <div class="container">
            <div class="subscribe text-center">
                <h3 class="subscribe__title">Cập nhật mọi lúc mọi nơi</h3>
                <p>Nhận thông tin mới nhất về sản phẩm, ưu đãi hấp dẫn và tin tức cập nhật về các sản phẩm máy ảnh mới
                    nhất
                </p>
                <div id="mc_embed_signup">
                    <form target="_blank"
                          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get" class="subscribe-form form-inline mt-5 pt-1">
                        <div class="form-group ml-sm-auto">
                            <input class="form-control mb-1" type="email" name="EMAIL"
                                   placeholder="Nhập địa chỉ email của bạn"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email của bạn '">
                            <div class="info"></div>
                        </div>
                        <button class="button button-subscribe mr-auto mb-1" type="submit">Đăng ký ngay</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Subscribe section end ================= -->
</main>
</body>
</html>